<!DOCTYPE html>
<html>
  <head>
    <title>Pathfinder</title>
    <link rel="stylesheet"   
     href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
	<script src="geolocate.js"></script>
	<script src="search.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="grid-container">
      <div id="page-header">
        <span class="heading">Pathfinder</span>
      </div>
	</div>
	  <div class="search" >
		<form action="searchtable";>
			<button <i class="fa fa-search" ></i></button>
			<input name="search" placeholder="Search for a ward.." type="text" >
		</form>
      </div>
      <div id="page-navigation">
        <div class="w3-bar w3-blue">
          <button class="w3-bar-item w3-button w3-ripple" onclick="location.href='crimedata.html';" style="width: 50.0%">Search for local crime rates</button>
          <button class="w3-bar-item w3-button w3-ripple" onclick="getLocation(loadMap);" style="width: 50.0%">Find a route</button>
        </div>
	  </div>
	  <div class="container" style="text-align: center;background-color: rgba(0,0,0,8);" >
		<img class="indexmap" src="Crime_map.png" alt="Map of bristol" style="opacity: 0.1;">
		 <button class="button1" onclick="location.href='crimedata.html';">Search for local crime rates</button>
		 <button class="button2" onclick="getLocation(loadMap);">Find a route</button>
	  </div>
	  <div id="report">
		<button class="w3-bar-item w3-button w3-red" onclick="location.href='report.html';" style="width:100%">Report a crime</button>
	</div>
  </body>
</html>