<!DOCTYPE html>
<html>
  <head>
  </head>
  <!-- report page gives user feedback on input and avoids double reporting to the database-->
  <body>
    <a style="font-size:60px" href='index.html'> Your report was successful! If your not transferred to the home page, please click here.  </a >
  </body>
</html>